:root {
    --gray: #474747;
    --darkest: #111111;
    --dark: #212121;
    --textgray: #b1b1b1;
    --darkgray: #5a5a5a;
    --white: #d8d8d8;
    --border: #c2c4c5;
    --loader-color: #d8d8d8;
}

html {
    background: var(--dark);
}

#title {
    color: var(--white);
}

.drop {
    border: 2px dashed var(--border);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    background: var(--darkest);
    color: var(--textgray);
}
.dragging {
    border: 2px dashed #dc3545 !important;
}
#drop-svg {
    fill: var(--white);
}
#change-input {
    border: 1px solid var(--border);
    background: var(--darkest);
    color: var(--white);
}
#units {
    color: var(--textgray);
}
#change-input:focus {
    border-color: #00b5dd;
    box-shadow: 0 0 2px 1px #00b5dd66;
}
.blue-button {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-image: linear-gradient(to bottom, #00d2ff 0%, #3a7bd5 100%);
    filter: brightness(0.85);
}
.blue-button:active {
    box-shadow: inset 0 0 6px 4px #205660, 0 1px 0 var(--dark);
    background-image: linear-gradient(to bottom, #00bcd9 0%, #2855a6 100%);
}
.preview {
    color: var(--textgray);
    border: 1px solid var(--border);
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
    background: var(--darkest);
}

#theme-wrapper svg {
    fill: var(--white);
}

.popup {
    background: var(--darkest);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 5px -2px rgb(191 191 191 / 30%);
}
.popup-header .popup-text {
    color: var(--white);
}
.popup-text {
    color: var(--textgray);
}
